*{
    font-family: "Archivo";
    font-weight: normal;
    font-size: 1em;
    color: #002343;
}
.matrix_resizer_parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.matrix_resizer {
  display: flex;
  flex: 1;
  text-align: center;
  max-width: 1em;
}
.matrix_top_cell {
  vertical-align: top;
}
.outer {
  width: min(40em,100%);
}
.inner {
  width: 25%;
  margin: auto;
}
.outer.solver {
  padding-top: 2em;
}
td{
    background-color: #ebf2ff;
    padding: 5px 5px 5px 5px;
    border-radius: 0.2em;
    text-align: center;
    cursor: default;
}
#commands{
    padding: 5px 5px 10px 5px;
}
.command {
  min-width: 2em;
  padding: 0px 4px;
}
.command {
  background-color: #c9daf8;
  box-shadow: 0 6px #8aafed;
}
.command:hover {
  background-color: #ddeaff;
}
.command:active {
  background-color: #f3f8ff;
  box-shadow: 0 3px #648fd7;
  transform: translateY(3px);
}
.command.single {
  background-color: #bde0ff;
  box-shadow: 0 6px #6fa8dc;
}
.command.single:hover {
  background-color: #d6ecff;
}
.command.single:active {
  background-color: #f1f8ff;
  box-shadow: 0 3px #3d85c6;
  transform: translateY(3px);
}
input.matrix {
  width: 3ch;
}
input.valid {
  background-color: #91f0ff;
}
input.invalid {
  background-color: #ffccc7;
}
table.matrix_collapse {
  border-collapse: collapse;
}
tr.ANS_divide {
  border-left: 1px solid black;
}
td.matrix_resizer_parent{
  padding: 0px 0px 10px 0px;
}
.plus{
  min-width: 1em;
  padding: 0px 4px;
  background-color: #c9daf8;
  box-shadow: 0 6px #8aafed;
  border-radius: 4px;
  border: 1px solid #a4c2f4;
}
.plus:hover {
  background-color: #ddeaff;
}
.plus:active {
  background-color: #f3f8ff;
  box-shadow: 0 3px #648fd7;
  transform: translateY(3px);
}
.minus{
  min-width: 1em;
  padding: 0px 4px;
  background-color: #a4c2f4;
  box-shadow: 0 6px #648fd7;
  border-radius: 4px;
  border: 1px solid #8aafed;
}
.minus:hover {
  background-color: #c9daf8;
}
.minus:active {
  background-color: #ddeaff;
  box-shadow: 0 3px #4c7ed0;
  transform: translateY(3px);
}
td.answer_padding {
  padding: 5px 5px 7px 5px;
}
.solve{
  min-width: 1em;
  padding: 0px 4px;
  background-color: #a4c2f4;
  box-shadow: 0 6px #648fd7;
  border-radius: 4px;
  border: 1px solid #8aafed;
}
.solve:hover {
  background-color: #c9daf8;
}
.solve:active {
  background-color: #ddeaff;
  box-shadow: 0 3px #4c7ed0;
  transform: translateY(3px);
}
#lake {
  background-image: url("square_jean_lac.png");
  background-size: 625px 417px;
  position: absolute;
  top: 20;
  right: 0;
  width: 625px;
  height: 417px;
}

#lakeNext {
  background-image: url("next_tip.png");
  background-size: 50px 50px;
  position: absolute;
  top: 440;
  right: 300;
  width: 50px;
  height: 50px;
  z-index : 100;
}

#lakePrev {
  background-image: url("previous_tip.png");
  background-size: 50px 50px;
  position: absolute;
  top: 440;
  right: 550;
  width: 50px;
  height: 50px;
  z-index : 100;
}

#factNext {
  background-image: url("next_tip.png");
  background-size: 50px 50px;
  position: absolute;
  top: 440;
  right: 100;
  width: 50px;
  height: 50px;
  z-index : 100;
}

#factPrev {
  background-image: url("previous_tip.png");
  background-size: 50px 50px;
  position: absolute;
  top: 440;
  right: 370;
  width: 50px;
  height: 50px;
  z-index : 100;
}

.lake_bubble.visible {
  position: absolute;
  top: 55;
  right: 25;
  width: 270px;
  height: 200px;
  font-size: 1.5em;
  text-align: center;
  z-index : 1;
}
.targetlake {
  background-color: #ffe29b;
}
.operationlake {
  background-color: #ffe29b !important;
}

#lakeStart {
  position: absolute;
  top: 20;
  right: 400;
}
.start{min-width: 1em;
  padding: 0px 4px;
  background-color: #c9daf8;
  box-shadow: 0 6px #648fd7;
  border-radius: 4px;
  border: 1px solid #8aafed;
}
.start:hover {
  background-color: #c9daf8;
}
.start:active {
  background-color: #ddeaff;
  box-shadow: 0 3px #4c7ed0;
  transform: translateY(3px);
}
.hide{min-width: 1em;
  padding: 0px 4px;
  background-color: #c9daf8;
  box-shadow: 0 6px #648fd7;
  border-radius: 4px;
  border: 1px solid #8aafed;
}
.hide:hover {
  background-color: #c9daf8;
}
.hide:active {
  background-color: #ddeaff;
  box-shadow: 0 3px #4c7ed0;
  transform: translateY(3px);
}
#guide_link {
  position: absolute;
  top: 20;
  right: 550;
  min-width: 1em;
  text-decoration: none;
  padding: 0px 4px;
  background-color: #c9daf8;
  box-shadow: 0 6px #648fd7;
  border-radius: 4px;
  border: 1px solid #8aafed;
}
#guide_link:hover {
  background-color: #c9daf8;
}
#guide_link:active {
  background-color: #ddeaff;
  box-shadow: 0 3px #4c7ed0;
  transform: translateY(3px);
}
#history_table {
  width: 100%;
}
.history_item {
  text-align: center;
}
#lakeFact {
  background-image: url("unpressed_button.png");
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
}
#lakeFact:active {
  background-image: url("pressed_button.png");
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
}
#prof {
  background-image: url("prof_lac.png");
  background-size: 283px 249px;
  position: absolute;
  top: 190;
  right: 470;
  width: 283px;
  height: 249px;
}
#board {
  background-image: url("green_board.png");
  background-size: 400px 300px;
  position: absolute;
  top: 125;
  right: 60;
  width: 400px;
  height: 300px;
}
.lake_board.visible {
  position: absolute;
  top: 145;
  right: 85;
  width: 350px;
  height: 200px;
  font-size: 1.5em;
  text-align: center;
  color: #ffffff;
  z-index : 1;
}